/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-size: 1.15em;
	line-height: 2.5em;
	text-align: center;

}

body p, li {
	display: block;
	margin: 0 auto;
	min-width: 300px;
	width: 60%;

}

header{
	background-color: #020021;
	padding: 40px 10px; 
}

.skill {
	background-color: #F4F4F4;
}

h1{
	font-size: 2em;
	float: left;
}
nav a {
	color: inherit;
	margin: 30px;
}

h2 {

	font-size: 1.85em;
}

h3{
	font-size: 1.5em;
} 

a {
	text-decoration: none;
	font-size: 1.1em;
}

a:hover {
	color: #FE015E;
}



#self {
	display: block;
	min-width: 200px;
	height: 30%;
	width: 20%;
	margin: 0 auto;
}
.portfolio a {
	display: block;
	margin: 0 auto;
	min-width: 220px;
	width: 20%;
}
 
.logo {
	height: 30px;
	width: 30px;
}

#topBtn img{
	margin: 0 auto;
	min-width: 80px;
	width: 10%;

}
.contact{
	background-color: #1B1A26;
	width: 100%;
	line-height: 1.35em;
}

form {
	display:block;
	min-width: 300px;
	width: 40%;
	margin: 0 auto;
}

form input, textarea{
	width: 100%;
	background-color: #12121A;
	margin: 4px 0;
	padding: 4px 2px;
}
footer {
	padding: 20px;
	background-color: #03011C;
}
.whiteText, input, textarea {
	color: #C7C6C6;
}

footer p {
	display: block;
	text-align: center;
}