/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*-----------------^reset^--------------*/
h1, h2 {
  font-family: "Orbitron", sans-serif;
  text-decoration: underline;
  text-align: center;
}

body p {
  font-size: 1.15em;
  line-height: 2.5em;
  text-align: center;
  display: block;
  margin: 0 auto;
  min-width: 320px;
  width: 60%;
  font-family: "Exo", sans-serif;
}

#hackerrankLogo, #gitLogo, #downloadLogo, #codecademyLogo {
  font-size: 30px;
}

#send {
  font-size: 20px;
}

#upArrow {
  font-size: 90px;
  z-index: 5;
  position: absolute;
  left: 50%;
  margin-left: -45px;
}
#upArrow:hover {
  animation: bounce 1s;
  color: #FE015E;
}

nav li {
  float: right;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
nav li a:hover {
  color: #FE015E;
}

.buttons {
  margin: 0 auto;
  text-align: center;
  padding: 7px;
  margin-top: 20px;
}
.buttons button {
  font: bold 0.9em arial, helvetica, sans-serif;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  background-color: #DEDDDD;
  color: #555;
  outline: none;
}
.buttons button:hover, .buttons button:active {
  background-color: #eee;
}

#out, #in {
  border: 1px solid black;
  text-indent: 5px;
  color: black;
}

.weather {
  padding: 4px;
  text-align: center;
  background: #FE9C3B;
  width: 320px;
  margin: 0 auto;
  border-radius: 25px;
  color: black;
}
.weather #city {
  text-indent: 22px;
  color: black;
  position: relative;
  border: 1px solid #282828;
}
.weather #cityIcon {
  background: #D5D5D5;
  position: absolute;
  margin-left: -114px;
  margin-top: 4px;
  padding: 1px;
}
.weather button {
  background-color: #DEDDDD;
  padding: 3px 15px;
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  color: #282828;
  outline: none;
}
.weather button:hover, .weather button:active {
  background-color: #eee;
}

#skill {
  min-width: 324px;
}
#skill ul {
  margin: 0 auto;
  min-width: 324px;
  width: 50%;
  background: rgba(20, 20, 20, 0.4);
}
#skill h3 {
  font-family: "Exo", sans-serif;
  font-weight: bold;
  font-size: 1.15em;
}
#skill li i {
  text-align: center;
  width: 122px;
  font-size: 100px;
  float: left;
  padding: 0 10px 0 0;
}
#skill li p {
  font-size: 0.9em;
  font-family: Georgia, sans-serif;
}
#skill li {
  padding: 20px;
  overflow: auto;
  border: 0.25px solid #0A023F;
  min-width: 324px;
}
#skill li:hover {
  background: rgba(20, 20, 20, 0.5);
}

#school li {
  text-align: center;
  line-height: 2em;
  margin: 0 auto;
  font-family: "Exo", sans-serif;
  min-width: 280px;
  width: 60%;
  background-color: #E3E3FE;
  margin-bottom: 20px;
  border-radius: 25px;
}

header {
  background-color: #090A10;
  padding: 15px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

#about {
  margin-top: 70px;
  background-image: url("pictures/editedMe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  min-height: 400px;
}

.tranBox {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 400px;
}

span {
  color: #FE015E;
}

#skill, #portfolio {
  background-color: #8D7CFE;
}

h1 {
  font-size: 2em;
  float: left;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h2 {
  font-size: 1.85em;
  padding: 20px 0;
}

h3 {
  font-size: 1.5em;
}

#self {
  display: block;
  min-width: 200px;
  height: 30%;
  width: 20%;
  margin: 0 auto;
}

#portfolio a {
  display: block;
  margin: 0 auto;
  min-width: 240px;
  width: 20%;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "Dosis", sans-serif;
}
#portfolio a:hover {
  color: #FE015E;
}

#portfolio {
  line-height: 2.5em;
  padding: 10px 0;
}
#portfolio a {
  display: block;
  text-align: center;
  min-width: 240px;
  width: 20%;
}

#contact {
  padding-top: 100px;
  padding-bottom: 15px;
  background-color: #1B1A26;
  width: 100%;
  line-height: 1.5em;
}

form {
  display: block;
  min-width: 280px;
  width: 50%;
  margin: 0 auto;
}

form input, textarea {
  width: 100%;
  background-color: #12121A;
  margin: 2px 0;
  padding: 4px 2px;
  resize: none;
  outline: none;
}

footer {
  background-color: #090A10;
}
footer p {
  display: block;
  text-align: center;
}

.whiteText, input, textarea {
  color: #C7C6C6;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
textarea:focus, input:focus {
  outline-color: cyan;
  outline-style: inset;
  outline-width: 0.05px;
}

@media (max-width: 950px) {
  h1 {
    font-size: 1.5em;
  }

  nav li a {
    padding: 14px 14px;
  }
}
@media only screen and (max-width: 760px) {
  h1 {
    display: none;
  }

  nav {
    text-align: center;
  }
  nav li {
    float: none;
    display: inline;
  }
  nav li a {
    display: inline-block;
    padding: 6px;
    font-size: 0.9em;
  }

  #about {
    margin-top: 50px;
  }
  #about p {
    font-size: 1em;
    line-height: 2em;
  }

  .buttons {
    width: 250px;
  }
  .buttons button {
    margin: 5px 0;
  }

  #skill h3 {
    font-size: 1.1em;
  }
  #skill li p {
    font-size: 0.68em;
    line-height: 1.5em;
  }
  #skill li i {
    padding: 0 5px 0 0;
    font-size: 80px;
  }
  #skill li {
    padding: 4px;
    min-width: 315px;
  }
}

/*# sourceMappingURL=styles.css.map */
