/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*-----------------^reset^--------------*/
h1, h2 {
  font-family: "Orbitron", sans-serif;
  text-decoration: underline;
  text-align: center;
}

body p {
  font-size: 1.15em;
  line-height: 2.5em;
  text-align: center;
  display: block;
  margin: 0 auto;
  min-width: 320px;
  width: 60%;
  font-family: "Exo", sans-serif;
}

nav li {
  float: right;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
nav li a:hover {
  color: #FE015E;
}

.skill ul {
  margin: 0 auto;
  min-width: 340px;
  width: 60%;
  background: rgba(20, 20, 20, 0.4);
}
.skill h3 {
  font-family: "Exo", sans-serif;
  font-weight: bold;
  font-size: 1.15em;
  margin-right: 50px;
}
.skill li img {
  height: 150px;
  width: 200px;
  float: left;
  margin: 0 15px 0 0;
}
.skill li p {
  font-size: 0.9em;
  font-family: Georgia, sans-serif;
}
.skill li {
  padding: 10px;
  overflow: auto;
  border: 0.5px solid #0A023F;
}
.skill li:hover {
  background: rgba(20, 20, 20, 0.5);
}

.school li {
  text-align: center;
  line-height: 2em;
  margin: 0 auto;
  font-family: "Exo", sans-serif;
  min-width: 320px;
  width: 60%;
  background-color: #E3E3FE;
  margin-bottom: 20px;
  border-radius: 25px;
}

header {
  background-color: #090A10;
  padding: 15px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.about {
  margin-top: 130px;
}

span {
  color: #FE015E;
}

.skill, .portfolio {
  background-color: #8D7CFE;
}

h1 {
  font-size: 2em;
  float: left;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h2 {
  font-size: 1.85em;
  padding: 20px 0;
}

h3 {
  font-size: 1.5em;
}

#self {
  display: block;
  min-width: 200px;
  height: 30%;
  width: 20%;
  margin: 0 auto;
}

.portfolio a {
  display: block;
  margin: 0 auto;
  min-width: 240px;
  width: 20%;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "Dosis", sans-serif;
}
.portfolio a:hover {
  color: #FE015E;
}

.plogo {
  height: 30px;
  width: 30px;
}

#topBtn img {
  min-width: 100px;
  width: 10%;
  z-index: 5;
  position: absolute;
  left: 45%;
}
#topBtn img:hover {
  animation: bounce 1s;
}

.portfolio {
  line-height: 2.5em;
  padding: 10px 0;
}
.portfolio a {
  display: block;
  text-align: center;
  min-width: 240px;
  width: 20%;
}

.contact {
  padding-top: 100px;
  padding-bottom: 15px;
  background-color: #1B1A26;
  width: 100%;
  line-height: 1.5em;
}

form {
  display: block;
  min-width: 300px;
  width: 40%;
  margin: 0 auto;
}

form input, textarea {
  width: 100%;
  background-color: #12121A;
  margin: 2px 0;
  padding: 4px 2px;
  resize: none;
  outline: none;
}

footer {
  background-color: #090A10;
}
footer p {
  display: block;
  text-align: center;
}

.whiteText, input, textarea {
  color: #C7C6C6;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
textarea:focus, input:focus {
  outline-color: cyan;
  outline-style: inset;
  outline-width: 0.05px;
}

/*@keyframes example {
	    from {background-color: red;}
	    to {background-color: yellow;}
	}     animation-name: example;
    			animation-duration: 5s;              */
@media (max-width: 950px) {
  h1 {
    font-size: 1.5em;
  }

  nav li a {
    padding: 14px 14px;
  }
}
@media only screen and (max-width: 400px), (orientation: portrait) {
  h1 {
    display: none;
  }

  nav {
    text-align: center;
  }
  nav li {
    float: none;
    display: inline;
  }
  nav li a {
    display: inline-block;
    padding: 6px;
    font-size: 0.9em;
  }

  .about {
    margin-top: 50px;
  }

  .logo {
    height: 30px;
    width: 30px;
    margin: 0 5px;
  }

  #topBtn img {
    left: 40%;
  }

  .skill h3 {
    font-size: 1.1em;
    margin-right: 10px;
  }
  .skill li img {
    height: 100px;
    width: 100px;
    margin: 0 10px 0 0;
  }
  .skill li p {
    font-size: 0.7em;
  }
  .skill li {
    padding: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
