//sass --watch styleSass.scss styles.css
@import 'reset';

$font-orbit:    'Orbitron', sans-serif;
$font-exo:    'Exo', sans-serif;
$font-dosis:    'Dosis', sans-serif;
$highlight-color: #FE015E;
$white-color: #C7C6C6;
$gray-color: #F4F4F4;
$black-color: #090A10;
h1, h2{
	font-family: $font-orbit;
	text-decoration: underline;
	text-align: center;
}

body p{
	font-size: 1.15em;
	line-height: 2.5em;
	text-align: center;
	display: block;
	margin: 0 auto;
	min-width: 320px;
	width: 60%;
	font-family: $font-exo;
}
//start skills list
.skill{
	ul {
	    margin: 0 auto;
	    min-width: 340px;
		width: 60%;
		//background: rgba(1, 1, 1, 0.6);
	  }
	   
	  h3 {
	    font-family: $font-exo;
	    font-weight: bold;
	    font-size: 1.15em;
	    margin-right: 50px;
	  }
	   
	  li img {
	    height: 150px;
	    width: 200px;
	    float: left;
	    margin: 0 15px 0 0;
	  }
	   
	  li p {
	  	font-size: 0.9em;
	    font-family: Georgia, sans-serif;
	  }
	   
	  li {
	    padding: 10px;
	    overflow: auto;
	  }
	   
	  li:hover {
	    background: #eee;
	  }
}
//end skills list
.school {
	li {
	margin: 0 auto;
	font-family: $font-exo;
	min-width: 320px;
	width: 60%;
	background-color: #E3E3FE;
	margin-bottom: 20px;
	border-radius: 25px;
	}
}

header{
	background-color: $black-color;
	padding: 15px 10px;
	position: fixed; 
	width: 100%;
	top: 0;
	z-index: 10;
}

.about {
	margin-top: 130px;
}
span {
	color: $highlight-color;
}

.skill, .portfolio {
	background-color: $gray-color;
}

h1{
	font-size: 2em;
	float: left;
}
nav a {
	color: inherit;
	margin: 20px;
	float: right;
}

h2 {
	font-size: 1.85em;
	padding: 20px 0;
}

h3{
	font-size: 1.5em;
} 

a {
	text-decoration: none;
	font-size: 1.1em;
	font-family: $font-dosis;
	&:hover{
		color: $highlight-color;
	}
}


#self {
	display: block;
	min-width: 200px;
	height: 30%;
	width: 20%;
	margin: 0 auto;
}
.portfolio a {
	display: block;
	margin: 0 auto;
	min-width: 240px;
	width: 20%;
}
 
.plogo {
	height: 30px;
	width: 30px;
}

#topBtn {
	img {
	min-width: 100px;
	width: 10%;
	z-index: 5;
	position: absolute;
	left: 45%;
	}
	img:hover {
	animation: bounce 1s;
	}
}
.portfolio{
	line-height: 2.5em;
	padding: 10px 0;
	a {
	display: block;
	margin: 0 auto;
	min-width: 240px;
	width: 20%;
	}
}
.contact{
	padding-top: 100px;
	padding-bottom: 15px;
	background-color: #1B1A26;
	width: 100%;
	line-height: 1.35em;
}

form {
	display:block;
	min-width: 300px;
	width: 40%;
	margin: 0 auto;
}

form input, textarea{
	width: 100%;
	background-color: #12121A;
	margin: 2px 0;
	padding: 4px 2px;
	resize: none;
	outline: none;
}
footer {
	background-color: $black-color;
	p{
	display: block;
	text-align: center;
	}
}
.whiteText, input, textarea {
	color: $white-color;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

textarea:focus, input:focus {
	outline-color: cyan;
	outline-style: inset;
	outline-width: .05px;

}

$breakpoint-bighead: 1100px;
@media (max-width: $breakpoint-bighead){
	header {
		padding: 5px 10px;
	}
	nav a {
		margin: 15px;
	}
}
$breakpoint-phone: 400px;
@media only screen and (max-width: $breakpoint-phone), (orientation: portrait) {
	h1{
		display: none;
	}
	nav ul li{
		font-size: 0.9em;
		display: inline;
		margin: 8px;
	}
	.about {
		margin-top: 50px;
	}
	.logo {
	height: 30px;
	width: 30px;
	margin: 0 5px;
	}
	#topBtn img{
		left: 40%;
	}
	.skill{
		h3 {
	    font-size: 1.1em;
	    margin-right: 10px;
	  }
	   
	  li img {
	    height: 100px;
	    width: 100px;
	    margin: 0 10px 0 0;
	  }
	   
	  li p {
	    font-size: 0.7em;
	  }
	   
	  li {
	    padding: 5px;
	  }
}
}